<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>Label</key>
  <string>org.nixos.darwin-store</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/sh</string>
    <string>-c</string>
    <string>while true; do /usr/sbin/diskutil mount -mountPoint /nix C8A4D2CF-04F9-48E4-BCF1-88BAAB6D87CC; sleep 30; done</string>
  </array>
  <key>StandardErrorPath</key>
  <string>/var/log/nix-darwin-store.log</string>
  <key>StandardOutPath</key>
  <string>/var/log/nix-darwin-store.log</string>
</dict>
</plist>
